@charset "utf-8";

/* Linear gradients */
/* html {
    background: linear-gradient(maroon 25%, gold 75%, black 95%);
    height: 100%;
} */

/* Radial gradients */

html {
    background: radial-gradient(circle closest-corner at center, red, yellow, blue);
    height: 100%;
}